<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">

    <title>Flask App</title>

    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- JQuery links -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!--Gauge  -->
    <script type="text/javascript" src="http://pubnub.github.io/eon/lib/eon.js"></script>

</head>

<body>

    <div class="jumbotron">
        <h1 class="text-center text-white">Smart Power Supply Data</h1>
    </div>
    <br>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor1">Sensor :</h1>
            </div>

            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor2">Sensor :</h1>
            </div>

            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor3">Sensor :</h1>
            </div>

            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor4">Sensor :</h1>
            </div>

            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor5">Sensor :</h1>
            </div>

            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor6">Sensor :</h1>
            </div>
        </div>
    </div>

    <style>
        .jumbotron {
            widows: 150px;
            height: 120px;
            justify-content: center;
        }

        .row {
            justify-content: center;
        }
    </style>

    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <div id="data-volt1"></div>
            </div>

            <div class="col-md-6">
                <div id="data-volt2"></div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <!-- New container for Curr1 data -->
    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <div id="data-curr1"></div>
            </div>
            <div class="col-md-6">
                <div id="data-curr2"></div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <!-- New container for Temp1 data -->
    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <div id="data-temp1"></div>
            </div>
            <div class="col-md-6">
                <div id="data-temp2"></div>
            </div>
        </div>
    </div>

    <script>
        var chartVolt1;
        var chartVolt2;
        var chartCurr1;
        var chartCurr2; // Chart variable for Curr2 data
        var chartTemp1; // Chart variable for Temp1 data
        var chartTemp2; // Chart variable for Temp2 data

        function requestData() {
            // Ajax call to get the Data from Flask
            var requests = $.get('/data');

            var tm = requests.done(function (result) {
                var seriesVolt1 = chartVolt1.series[0],
                    shiftVolt1 = seriesVolt1.data.length > 100;

                var seriesVolt2 = chartVolt2.series[0],
                    shiftVolt2 = seriesVolt2.data.length > 100;

                var seriesCurr1 = chartCurr1.series[0],
                    shiftCurr1 = seriesCurr1.data.length > 100;

                var seriesCurr2 = chartCurr2.series[0],
                    shiftCurr2 = seriesCurr2.data.length > 100;

                var seriesTemp1 = chartTemp1.series[0],
                    shiftTemp1 = seriesTemp1.data.length > 100;

                var seriesTemp2 = chartTemp2.series[0],
                    shiftTemp2 = seriesTemp2.data.length > 100;

                var data1 = [];
                data1.push(result[0]);
                data1.push(result[1]);

                var data2 = [];
                data2.push(result[0]);
                data2.push(result[2]);

                var data3 = [];
                data3.push(result[0]);
                data3.push(result[3]);

                var data4 = [];
                data4.push(result[0]);
                data4.push(result[4]);

                var data5 = [];
                data5.push(result[0]);
                data5.push(result[5]);

                var data6 = [];
                data6.push(result[0]);
                data6.push(result[6]);

                chartVolt1.series[0].addPoint(data1, true, shiftVolt1);
                chartVolt2.series[0].addPoint(data2, true, shiftVolt2);
                chartCurr1.series[0].addPoint(data3, true, shiftCurr1);
                chartCurr2.series[0].addPoint(data4, true, shiftCurr2);
                chartTemp1.series[0].addPoint(data5, true, shiftTemp1);
                chartTemp2.series[0].addPoint(data6, true, shiftTemp2);

                $(".sensor1").text("");
                $(".sensor1").text("Volt1 : " + data1[1] + " V");

                $(".sensor2").text("");
                $(".sensor2").text("Volt2 : " + data2[1] + " V");

                $(".sensor3").text("");
                $(".sensor3").text("Curr1 : " + data3[1] + " A");

                $(".sensor4").text("");
                $(".sensor4").text("Curr2 : " + data4[1] + " A");

                $(".sensor5").text("");
                $(".sensor5").text("Temp1 : " + data5[1] + " °C");

                $(".sensor6").text("");
                $(".sensor6").text("Temp2 : " + data6[1] + " °C");

                setTimeout(requestData, 2000);

            });
        }

        $(document).ready(function () {
            chartVolt1 = new Highcharts.Chart({
                chart: {
                    renderTo: 'data-volt1',
                    defaultSeriesType: 'area',
                    events: {
                        load: requestData
                    }
                },
                title: {
                    text: 'Volt1'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: [{
                    color: '#c23d23',
                    lineColor: '#303030',
                    name: 'Volt1',
                    data: []
                }]
            });

            chartVolt2 = new Highcharts.Chart({
                chart: {
                    renderTo: 'data-volt2',
                    defaultSeriesType: 'area',
                    events: {
                        load: requestData
                    }
                },
                title: {
                    text: 'Volt2'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: [{
                    lineColor: '#1d82b8',
                    name: 'Volt2',
                    data: []
                }]
            });

            chartCurr1 = new Highcharts.Chart({
                chart: {
                    renderTo: 'data-curr1',
                    defaultSeriesType: 'area',
                    events: {
                        load: requestData
                    }
                },
                title: {
                    text: 'Curr1'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: [{
                    lineColor: '#FF0000',
                    name: 'Curr1',
                    data: []
                }]
            });

            chartCurr2 = new Highcharts.Chart({
                chart: {
                    renderTo: 'data-curr2',
                    defaultSeriesType: 'area',
                    events: {
                        load: requestData
                    }
                },
                title: {
                    text: 'Curr2'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: [{
                    lineColor: '#00FF00',
                    name: 'Curr2',
                    data: []
                }]
            });

            chartTemp1 = new Highcharts.Chart({
                chart: {
                    renderTo: 'data-temp1',
                    defaultSeriesType: 'area',
                    events: {
                        load: requestData
                    }
                },
                title: {
                    text: 'Temp1'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: [{
                    lineColor: '#0000FF',
                    name: 'Temp1',
                    data: []
                }]
            });

            chartTemp2 = new Highcharts.Chart({
                chart: {
                    renderTo: 'data-temp2',
                    defaultSeriesType: 'area',
                    events: {
                        load: requestData
                    }
                },
                title: {
                    text: 'Temp2'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: [{
                    lineColor: '#FFFF00',
                    name: 'Temp2',
                    data: []
                }]
            });
        });
    </script>
</body>

</html>
